In [2]:
import pandas as pd

path = "nlsy.csv"
df = pd.read_csv(path)
df.head(6)

,GAD-7 Score,Case ID,Sample ID,Race,Sex,CESD_SCORE_7_ITEM,Hours_worked_last_year
0,-4,1,5,White,F,NaN,NaN
1,2,2,5,White,F,0.0,1820.0
2,-4,3,5,White,F,2.0,2312.0
3,-4,4,5,White,F,13.0,2285.0
4,-4,5,1,White,M,NaN,NaN
5,5,6,1,White,M,3.0,2080.0