In [3]:
import pandas as pd
from zabbix_utils import ZabbixAPI

try:
    api = ZabbixAPI(url="www")
    api.login(user="jan", password="heslo")

    hosts = api.host.get(
        output=["hostid", "status", "name"]
    )

    api.logout()

    df = pd.DataFrame(hosts)

except:
    print("Připojení se nezdařilo")

ModuleNotFoundError: No module named 'zabbix_utils'

In [4]:
import sqlite3
import pandas as pd

sql = "SELECT * FROM table ORDER BY Nazev"

connection = sqlite3.connect("database_name")

df = pd.read_sql(sql, connection)

DatabaseError: Execution failed on sql 'SELECT * FROM table ORDER BY Nazev': near "table": syntax error